<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.userinterfaces.ontime" >

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!--<android:uses-permission-->
        <!--android:name="android.permission.WRITE_EXTERNAL_STORAGE"-->
        <!--android:maxSdkVersion="18" />-->
    <!--<android:uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--<android:uses-permission-->
        <!--android:name="android.permission.READ_EXTERNAL_STORAGE"-->
        <!--android:maxSdkVersion="18" />-->

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.userinterfaces.ontime.Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.userinterfaces.ontime.AddAlarm"
            android:label="@string/title_activity_add_alarm" >
        </activity>
        <activity
            android:name="com.userinterfaces.ontime.Night"
            android:label="@string/title_activity_night" >
        </activity>

        <service
            android:name="com.userinterfaces.ontime.AlarmService"
            android:enabled="true" />

        <receiver android:name="com.userinterfaces.ontime.AlarmReceiver" />
        <receiver android:name="com.userinterfaces.ontime.Model.WeatherCheckReceiver" />

        <activity
            android:name="com.userinterfaces.ontime.WakeUpScreen"
            android:label="@string/title_activity_wake_up_screen">
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


</manifest>
